
   body {
            background-color: rgba(1, 1, 1, 0.929);
        }

        p {
            color: white;
        }

        h1 {
            color: blueviolet;
            background-color: rgb(50, 50, 50);
            font-size: 50px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         
        }

        h2 {
            color: rgb(255, 255, 255)
        }

        h5 {
            color: white
        }

        h3 {
            color: white
        }

        li {
            color: white;
        }

        th {
            color: white;
        }

        td {
            color: white
        }

        a {
            color: rgb(188, 27, 188);
        }

        img {
            border-radius: 10%;
        }

        .foto {
            background-color: aqua;
        }

        .imagen {
            width: 500px;
            height: 400px;
            margin-right: 100px;
            margin-left: 100px;
        }

        .contenedor {
            display: flex;
        }

        .text {
            font-size: 25px;
        }

        .text2 {
            font-size: 18px;
        }

        #home1 {
            background-color: purple;
            margin-left: 30px;
            margin-bottom: 10000px;
        }

        .title2 {
            margin-left: 20px;
        }

        #text-right {
            margin-left: 275px;
        }

        .imagen2 {
            width: 500px;
            height: 400px;
            text-align: right;
        }

        .imagen1 {
            margin-top: 60px;
            margin-left: 25px;
        }

        .left {
            margin-left: 25px;
            font-size: 22px;
        }

        .title {
            text-align: center;
            font-family: fantasy;
        }
        #codetype {
            color: blue;
        }

        #youtube {
            color: red;
        }

        .texto {
            text-align: left;
        }

        #text-left {
            text-align: left;
            
        }

        #principal-title {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .personal-info {
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }
        #titulo2 {
            font-family: fantasy;
        }

     


  

     
    



